$util.qr($ctx.stash.put("typeName", "Mutation"))
$util.qr($ctx.stash.put("fieldName", "createTodo"))
$util.qr($ctx.stash.put("conditions", []))
$util.qr($ctx.stash.put("metadata", {}))
$util.qr($ctx.stash.metadata.put("dataSourceType", "AMAZON_DYNAMODB"))
$util.qr($ctx.stash.metadata.put("apiId", "ks6j6ehhqbaobp4vvhclc6djjq"))
$util.qr($ctx.stash.put("tableName", "Todo-ks6j6ehhqbaobp4vvhclc6djjq-dev"))
$util.toJson({})